*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #687FE5;
}

#mar-1{
    height: 100%; 
    width: 100%;  
}

#mar-2{
    width: 100%;
    height: 100%;
}

#saver{
    width: 100%;
    display: flex;
}

h1{
    font-size: 4vw;
    padding: 60px 90px;
    border: 1px solid #EBD6FB;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#saver h1 a{
    text-decoration: none;
    color: #EBD6FB
}

/* hover-effect */

#saver h1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    bottom: -102%;
    transition: all ease 0.3s;
    border-radius: 50%;
}

#saver h1:hover::after{
    bottom: 0;
    border-radius: 0;
}

#saver h1:hover a{
    color: white;
    position: relative;
    z-index: 1;
}